# 02 â€” Exploratory Analysis

Explore driver/team performance, qualifying vs race, and pit strategy.

In [ ]:

# Setup
import sqlite3, pandas as pd, matplotlib.pyplot as plt
DB_PATH = "../data/f1.db"
conn = sqlite3.connect(DB_PATH)

In [ ]:

# Example: Top drivers by wins
q = '''
SELECT d.forename || ' ' || d.surname AS driver, COUNT(*) AS wins
FROM results r
JOIN drivers d ON r.driver_id = d.driver_id
WHERE r.position = 1
GROUP BY r.driver_id
ORDER BY wins DESC
LIMIT 15;
'''
wins = pd.read_sql_query(q, conn)
wins

In [ ]:

# Plot (static)
plt.figure(figsize=(10,6))
wins.set_index('driver')['wins'].plot(kind='bar')
plt.title('Top 15 Drivers by Wins')
plt.ylabel('Wins')
plt.tight_layout()
plt.show()